@import url('https://rsms.me/inter/inter.css');
html {
    font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

* {
    box-sizing: border-box;
}

body {
    max-width: 50em;
    margin: 0 auto;
    font-size: 90%;
}

a {
    color: rgba(30, 40, 80, 0.85);
}

.page-header {
    padding: 0 1em 2em;
}

.table-wrapper {
    border-radius: 9px;
    box-shadow: 0 0 27px rgba(0, 10, 50, 0.15);
    margin: 0 0 3em;
    overflow: scroll;
}

.table {
    border-collapse: collapse;
}

@media (max-width: 650px) {
    .table-header {
        display: none;
    }

    .table-row {
        border-bottom: 1px solid rgba(0, 10, 50, 0.15);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1em 0;
    }

    .table-cell {
        padding: 0.25em 1em;
        min-width: 50%;
    }

    .table-cell-project-name {
        width: 100%;
    }

    .table-cell-label {
        display: block;
        font-size: 0.8em;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media (min-width: 651px) {
    .table-cell {
        padding: 0.5em;
        text-align: left;
        vertical-align: top;
        border-bottom: 1px solid rgba(0, 10, 50, 0.15);
    }
    .table-cell:first-child {
        padding-left: 1em;
    }
    .table-cell:last-child {
        padding-right: 1em;
    }

    .table-header .table-cell {
        border-bottom: 2px solid rgba(0, 10, 50, 0.15);
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .table-cell-label {
        display: none;
    }
}
