@import url('https://rsms.me/inter/inter.css');
html {
    font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    max-width: 50em;
    margin: 0 auto;
    font-size: 90%;
}

a {
    color: rgba(30, 40, 80, 0.85);
}

.page-header {
    padding: 0 1em;
}

.table-wrapper {
    border-radius: 9px;
    box-shadow: 0 0 27px rgba(0, 10, 50, 0.15);
    margin: 3em 0;
    overflow: scroll;
}

.table {
    border-collapse: collapse;
}

.table-cell {
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid rgba(0, 10, 50, 0.15);
}
.table-cell:first-child {
    padding-left: 1em;
}
.table-cell:last-child {
    padding-right: 1em;
}

.table-header .table-cell {
    border-bottom: 2px solid rgba(0, 10, 50, 0.15);
    padding-top: 1em;
    padding-bottom: 1em;
}
